<!-- ----------------------------------------------------------------------------------------------------------- -->
<!-- HTML HEAD ------------------------------------------------------------------------------------------------- -->
<head></head>                                           <!-- Injected by html-loader + HtmlWebpackPartialsPlugin -->
<!-- END OF HTML HEAD ------------------------------------------------------------------------------------------ -->
<!-- ----------------------------------------------------------------------------------------------------------- -->

<!-- --------------------------------------------------------------------------------------------------------------- -->
<!-- BODY ---------------------------------------------------------------------------------------------------------- -->
<body id="index">

<!-- ----------------------------------------------------------------------------------------------------------- -->
<!-- NAV-BAR --------------------------------------------------------------------------------------------------- -->
<navigation></navigation>                                 <!-- Injected by WebPackJS - HtmlWebpackPartialsPlugin -->
<!-- END OF NAV-BAR -------------------------------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------------------------------------------- -->





<!-- ----------------------------------------------------------------------------------------------------------- -->
<!-- CHOOSE LANG - i18n ---------------------------------------------------------------------------------------- -->
<div id="langSelect">
    <button class="es" onclick="i18next.changeLanguage('es')" title="Castellano"></button>
    <button class="en" onclick="i18next.changeLanguage('en')" title="English"></button>
</div>
<!-- ----------------------------------------------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------------------------------------------- -->



<!-- ----------------------------------------------------------------------------------------------------------- -->
<!-- INDEX SECTION: CONTENT ------------------------------------------------------------------------------------ -->
<div class="content">

    <div id="console">
        <textarea id="orders" placeholder="INPUT"></textarea>
        <textarea id="results" placeholder="OUTPUT"></textarea>
        <button id="runOrders" data-i18n="index.button.submit">Submit</button>

    </div>
    <div id="info">
        <div id="planetGrid"></div>
        <div id="onTheFly"></div>
        <div id="legend">
            <small data-i18n="[html]index.legend.first">Each robot represents the robots final position <span>*</span></small>
            <small data-i18n="[html]index.legend.second">Each color on the map represents the area discovered by each robot <span>**</span></small>
            <small data-i18n="[html]index.legend.third">Red dashed lines are scents left in that position by a lost robot <span>***</span></small>
        </div>
    </div>




</div>
<!-- END OF INDEX SECTION: CONTENT ----------------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------------------------------------------- -->



<!-- ----------------------------------------------------------------------------------------------------------- -->
<!-- FOOTER ---------------------------------------------------------------------------------------------------- -->
<footer></footer>                                         <!-- Injected by WebPackJS - HtmlWebpackPartialsPlugin -->
<!-- END OF FOOTER --------------------------------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------------------------------------------- -->

</body>
<!-- END OF BODY --------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------------- -->
</html><!-- END OF HTML DOCUMENT ----------------------------------------------------------------------------------- -->