<head>

    <title>AQS JS Translations Manager App</title>
    <style>
        body {
            padding: 2rem;
            background-color: lightcyan;
            text-align: center;
            margin-top: 10rem;
        }

        ul {
            text-align: justify;
        }
        button {
            margin: auto;
            padding: .6rem;
            width: 40%;
        }
    </style>

</head>

<body>
<H1>Translation Manager</H1>

<ul>
    <li>This webapp will scan the files within your project and will detect which strings are missing un any translation.json
        files, taking as reference the file for appLanguages[0], normally 'dev' folder.</li>

    <li>After scanning the files, a sum-up table will be shown to let you see the results.</li>
    <li>The resulting files will content all strings with the value they had on /dev/trasnslation.json, ready to be translated to the rest of languages.</li>
    <li>The resulting files will be placed under: <strong>./i18next/locales/**</strong>, we must copy them to our app folder: <strong>./src/assets/locales/**</strong> manually.</li>
</ul>

<br><br>
<button onclick="location.href='./analyse'">SCAN FILES FOR MISSING TRANSLATIONS...</button>

</body>