/*----------------------------------------------------------------------------------------------------------------------
>>> LANGUAGE SELECTION BAR
----------------------------------------------------------------------------------------------------------------------*/
// <editor-fold desc="CSS FOR LOGIN SECTION">
#langSelect {
  position: absolute;
  margin-top: .8rem;
  right: 10px;
  z-index: 999;

  button {
    transform: scale(.8);
    opacity: .4;
    width: 1.4rem;
    height: 1.4rem;
    border: 0;
    cursor: pointer;
    display:inline-block;
    transition: all .1s ease-out;
    background-color: transparent;
    &:focus{outline: none;}

    &.es {background-image: url('../images/icons/flags/spain.svg');}
    &.en {background-image: url('../images/icons/flags/united-kingdom.svg');}

    &.active {
      transform: scale(1);
      opacity: 1;
    }
  }
}
//</editor-fold>
/*----------------------------------------------------------------------------------------------------------------------
>>> END OF LANGUAGE SELECTION BAR
----------------------------------------------------------------------------------------------------------------------*/






/*----------------------------------------------------------------------------------------------------------------------
>>> SECTION INDEX
----------------------------------------------------------------------------------------------------------------------*/
// <editor-fold desc="CSS FOR INDEX SECTION">
body#index {
  font-family: 'Roboto', sans-serif;

  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 70px;
    display: grid;
    grid-template-columns: 1fr 3fr;


    // Left column: Input & Output
    #console {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      text-align: center;
      justify-content: center;
      textarea {
        min-width: 70%;
        min-height: 20rem;
        margin-bottom: 2rem;
        padding: 1rem;
      }

      button {
        display: block;
        border-radius: 4px;
        background-color: springgreen;
        min-height: 2rem;
      }
    }


    // Rigth column: info
    #info {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 4rem 1rem 1rem 1rem;

      // Planet representation
      #planetGrid {
        --planet-width: 0;
        --planet-height: 0;

        position: relative;
        top: 50%;
        width: 90%;
        height: fit-content;
        min-height: 50%;
        margin: 3rem auto auto;
        display: grid;
        grid-template-columns: repeat(var(--planet-width), 1fr);
        grid-auto-rows: minmax(1fr, 100px);
        grid-gap: 2px 2px;
        transform-origin: top center;
        animation:perpectiveIn .2s ease-in-out forwards;

        &:hover {
          animation:perpectiveOut .2s ease-in-out forwards;
        }


        .position {
          max-height: max-content;
          position: relative;
          background-color: #afecff;
          border: 1px solid black;
          transition: opacity .1s ease-out;
          &:hover {opacity: .7;}

          &.hasScent {
            --scent-color: red;
            &.top {border-bottom: 5px dashed var(--scent-color);}
            &.bottom {border-top: 5px dashed var(--scent-color);}
            &.left {border-left: 5px dashed var(--scent-color);}
            &.right {border-right: 5px dashed var(--scent-color);}
          }

          &:not(.explored) {
            opacity: .3;

            &:hover {opacity: .4}
          }

          .robot{
            width: 90%;
            height: 80%;
            margin: auto;
            background-image: url('../images/icons/robot_icon.svg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            transform: rotate(180deg);
          }
        }


        @keyframes perpectiveIn {
          0% {transform: perspective(150px) rotateX(180deg);}
          100% {transform: perspective(150px) rotateX(190deg);}
        }
        @keyframes perpectiveOut {
          0% {transform: perspective(150px) rotateX(190deg);}
          100% {transform: perspective(150px) rotateX(180deg);}
        }
      }

      // On the fly information
      #onTheFly {
        width: 60%;
        margin: 5rem auto auto 16%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4px;

        span:nth-child(2n -1) { font-weight: bold}
      }

      // Legend
      #legend {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        text-align: right;
        small {
          display: block;
        }

        span {
          display: inline-block;
          min-width: 1.4rem;
          vertical-align: sub;
        }
      }

    }
  }


}
//</editor-fold>
/*----------------------------------------------------------------------------------------------------------------------
>>> END OF SECTION INDEX
----------------------------------------------------------------------------------------------------------------------*/




/*----------------------------------------------------------------------------------------------------------------------
>>> LOADER
----------------------------------------------------------------------------------------------------------------------*/
//<editor-fold desc="LOADING ANIMATION">

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 160, 211, 0.85);
  z-index: 99999;
  text-align: center;
  padding-top: 45vh;
  display:none;

  svg path,
  svg rect{
    fill:#fff;
  }
}
//</editor-fold>
/*----------------------------------------------------------------------------------------------------------------------
>>> END OF LOADER
----------------------------------------------------------------------------------------------------------------------*/








/*----------------------------------------------------------------------------------------------------------------------
>>> Class for modals error, warning e info
----------------------------------------------------------------------------------------------------------------------*/
//<editor-fold desc="Styles for msg-modal, showMsg() method">


div.msg-modal {

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  display: none;
  opacity: 1;
  z-index: 1000000;


  #msg-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background: rgba(211,211,211,.7);

    /* Blur effect if wanted. */
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);

  }

  /* Hide title when it is not set */
  &:not([title]) {
    #msg-title {
      visibility: hidden !important;
    }
  }

  /* Fade out effect */
  &.byebye {
    #msgContainer {
      top: 45%;
    }
  }

  /* Error level */
  &.error {
    /* Confirm button border collor */
    --border-color: #ff5722;
    #msgContainer{
      /* Message container border color */
      border: 1px solid #ff5722;
      /* Horizontal line separator color */
      #msg-title {
        border-bottom: 1px solid #ff5722;
      }
    }
  }

  /* Warning level */
  &.warning {
    /* Confirm button border collor */
    --border-color: #FF9800;
    #msgContainer {
      /* Message container border color */
      border: 1px solid #FF9800 !important;
      #msg-title {
        /* Horizontal line separator color */
        border-bottom: 1px solid #FF9800 !important;
      }
    }
  }

  /* Info level */
  &.info {
    /* Confirm button border collor */
    --border-color: #00A0D3;
    #msgContainer {
      /* Message container border color */
      border: 1px solid #00A0D3 !important;
      #msg-title {
        /* Horizontal line separator color */
        border-bottom: 1px solid #00A0D3 !important;
      }
    }
  }

  /* Success level */
  &.success {
    /* Confirm button border collor */
    --border-color: #229e22;
    #msgContainer {
      /* Message container border color */
      border: 1px solid #229e22 !important;
      #msg-title {
        /* Horizontal line separator color */
        border-bottom: 1px solid #229e22 !important;
      }
    }
  }

  /* Message div: The white central part containing the message */
  #msgContainer {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 50%;
    min-height: 30vh;

    max-width: 80%;
    max-height: 80%;

    padding: 1rem;
    align-content: center;
    background-color: #fff;
    border: 1px solid lightgrey;
    border-radius: 5px;
    letter-spacing: 0.1px;

    -webkit-transition: all .5s cubic-bezier(.1,-1.06,.56,.85);
    -moz-transition: all .5s cubic-bezier(.1,-1.06,.56,.85);
    -ms-transition: all .5s cubic-bezier(.1,-1.06,.56,.85);
    -o-transition: all .5s cubic-bezier(.1,-1.06,.56,.85);
    transition: all .5s cubic-bezier(.1,-1.06,.56,.85);


    @media screen and (max-width: 640px){
      min-width: 90%;
    }

    /* Message title */
    #msg-title {
      width: 100%;
      text-align: left;
      border-bottom: 1px solid lightgrey;
      height: 40px;
      line-height: 40px;
      padding-left: .5rem;
      visibility: visible;
    }

    /* Message body */
    #msg-body {
      overflow-y: auto;
      margin-top: 1rem;
      padding-left: .5rem;
      text-align: justify;
    }

    /* Close Button */
    button#clsMsgBtn {

      position: absolute;
      top: 0;
      right: 0;
      width: 26px;
      height: 26px ;
      margin: 1rem !important;
      padding: 0 !important;
      opacity: .6;
      border: none;
      outline: none;

      background-image: url(../images/icons/close-black.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-color: transparent;

      -webkit-transition: opacity .4s ease-out;
      -moz-transition: opacity .4s ease-out;
      -ms-transition: opacity .4s ease-out;
      -o-transition: opacity .4s ease-out;
      transition: opacity .4s ease-out;

      /* Apply animation to close button on hover */
      &:hover {
        opacity: 1;
        -webkit-animation: rotateX .4s cubic-bezier(.34,-1.2,.76,1.94);
        -o-animation: rotateX .4s cubic-bezier(.34,-1.2,.76,1.94);
        animation: rotateX .4s cubic-bezier(.34,-1.2,.76,1.94);
      }

      /* Rotate closing X animation */
      @-webkit-keyframes rotateX {
        0%   { transform: rotate(0deg); }
        100% { transform: rotate(90deg); }
      }
      @-moz-keyframes rotateX {
        0%   { transform: rotate(0deg);  }
        100% { transform: rotate(90deg); }
      }
      @-o-keyframes rotateX {
        0%   { transform: rotate(0deg);  }
        100% { transform: rotate(90deg); }
      }
      @keyframes rotateX {
        0%   { transform: rotate(0deg); }
        100% { transform: rotate(90deg);  }
      }

    }

    /* Confirm Button */
    button#confirmBtn {

      position: absolute;
      right: 0;
      bottom: 0;
      width: 25%;
      margin: .8rem;
      padding: 12px 20px 12px 20px !important;

      color: #4d4d4d !important;
      background-color: transparent;
      letter-spacing: 1.5px;

      /* Custom borders properties */
      /*--border-color: #5ba741;*/
      --border-weight: 1px;
      --dash-size: 10px;
      --gap-size: 8px;


      /* Hover Effect */
      &:hover {

        background-color: transparent !important;
        letter-spacing: 2.5px;

        /* Custom borders properties (on hover) */
        /*--border-color: #5ba741;*/
        --border-weight: 2px;
        --dash-size: 10px;
        --gap-size: 0.001px;

        span {
          transform: scale(1.05);
        }
      }

      /* Custom borders for confirm button */
      &:after   {

        position: absolute;
        transition: all .2s ease;
        content:'';

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background:

                linear-gradient(90deg, var(--border-color) 100%, transparent 100%) top left no-repeat,
                  /* Top Corner */
                linear-gradient(90deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) top center repeat-x,
                linear-gradient(90deg, var(--border-color) 100%, transparent 100%) top right no-repeat,

                linear-gradient(0deg, var(--border-color) 100%, transparent 100%) top left no-repeat,
                  /* Left Corner */
                linear-gradient(0deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) center left repeat-y,
                linear-gradient(0deg, var(--border-color) 100%, transparent 100%) bottom left no-repeat,

                linear-gradient(90deg, var(--border-color) 100%, transparent 100%) bottom left no-repeat,
                  /* Bottom Corner */
                linear-gradient(90deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) bottom center repeat-x,
                linear-gradient(90deg, var(--border-color) 100%, transparent 100%) bottom right no-repeat,

                linear-gradient(0deg, var(--border-color) 100%, transparent 100%) top right no-repeat,
                  /* Top Corner */
                linear-gradient(0deg, transparent calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2), var(--border-color) calc(var(--gap-size) / 2 + var(--dash-size)), transparent calc(var(--gap-size) / 2 + var(--dash-size))) center right repeat-y,
                linear-gradient(0deg, var(--border-color) 100%, transparent 100%) bottom right no-repeat;

        background-size: var(--dash-size) var(--border-weight), calc(var(--dash-size) + var(--gap-size)) var(--border-weight), var(--dash-size) var(--border-weight), var(--border-weight) var(--dash-size), var(--border-weight) calc(var(--dash-size) + var(--gap-size)), var(--border-weight) var(--dash-size);
      }

    }
  }
}
//</editor-fold>
/*----------------------------------------------------------------------------------------------------------------------
>>> End of Class for modals error, warning e info
----------------------------------------------------------------------------------------------------------------------*/

