
<!-- --------------------------------------------------------------------------------------------------------------- -->
<!-- PAGE FOOTER --------------------------------------------------------------------------------------------------- -->
<footer>
	<div class="powered"><!-- powered by AQS --></div>
</footer>
<!-- END OF PAGE FOOTER -------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------------- -->




<!-- --------------------------------------------------------------------------------------------------------------- -->
<!-- MODAL FOR MESSAGES -------------------------------------------------------------------------------------------- -->
<!-- Used with method common.showMsg(msg, title = null, errorLevel = null, callback = null, options = null)          -->
<div id="msg-modal" class="msg-modal">
    <div id="msg-bg"></div>
    <div id="msgContainer" class="message">
        <button id="clsMsgBtn" type="#" class="close"  title=""></button>
        <h3 id="msg-title" class="max-1-line"></h3>
        <div  id="msg-body"></div>
        <button id="confirmBtn" type="button" class="btn btn-default"><span>Confirmar</span></button>
    </div>
</div>
<!-- --------------------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------------- -->





<!-- --------------------------------------------------------------------------------------------------------------- -->
<!-- GENERAL LOADER ------------------------------------------------------------------------------------------------ -->
<div id="loading">
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			width="26px" height="32px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
			<rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
				<animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s" repeatCount="indefinite" />
				<animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
				<animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
			</rect>
			<rect x="8" y="10" width="4" height="10" fill="#333"  opacity="0.2">
				<animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
				<animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
				<animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
			</rect>
			<rect x="16" y="10" width="4" height="10" fill="#333"  opacity="0.2">
				<animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
				<animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
				<animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
			</rect>
		</svg>

</div>
<!-- END OF GENERAL LOADER ----------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------------- -->
</html>
