


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CástorRetail">
    <meta name="author" content="AQS">

    <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++
    >>> Title: Will be re-set with JS.
    ++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <title>Castor AQS Web App</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++
    >>> Favicon: IMPORTED WITH FaviconsWebpackPlugin
    ++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->



    <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++
    >>> CSS LIBRARIES: IMPORTED WITH WEBPACK
    ++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->


    <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++
    >>> CUSTOM CSS: IMPORTED WITH WEBPACK
    ++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->


    <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++
    >>> JAVASCRIPT LIBRARIES: IMPORTED WITH WEBPACK
    ++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->


    <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++
    >>> CUSTOM JAVASCRIPT: IMPORTED WITH WEBPACK
    ++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

