<!-- --------------------------------------------------------------------------------------------------------------- -->
<!-- NAV-BAR ------------------------------------------------------------------------------------------------------- -->

<!-- BOOSTRAP 5 STANDARD NAV BAR: Expands at md size -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">

		<!-- NAV-BAR TITLE --------------------------------------------------- -->
		<a class="navbar-brand" href="#"  data-i18n="title.welcome">Robots On Mars</a>

		</div>
		<!-- END OF NAV-BAR CONTENT ------------------------------------------- -->
	</div>
</nav>
<!-- END OF NAV-BAR ------------------------------------------------------------------------------------------------ -->
<!-- --------------------------------------------------------------------------------------------------------------- -->